#wheel-life {
    margin: auto;
    display: block;
    height: 473px;
    width: 825px;
    border-radius: 5px;
    background: #F2F2E5;
    border: 1px solid #D4DADE;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wheel-life-result {
    position: relative;
    margin: 30px auto;
    text-align: center;
}
#button-clear-areas {
    position: absolute;
    top: 15px;
    left: 22%;
}
#button-download-wheel {
    position: absolute;
    top: 15px;
    right: 22%;
}

.page-icon {
    color: #B1B8C9;
    font-size: 30px;
    cursor: pointer;
}

aside.networks {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

aside.networks .network {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

@media screen and (max-width: 350px) {
    aside.networks .network { margin: 0 4px;}
}

@media screen and (max-width: 500px) {
    #button-clear-areas {
        left: 5%;
    }
    #button-download-wheel {
        right: 5%;
    }
}

aside.networks .network img {
    max-height: 70px;
}
aside.networks .network:hover {
    opacity: 0.8;
}
aside.networks .network .counter {
    font-size: 15px;

    position: relative;

    margin-top: 15px;
    padding: 3px 0 2px 0;

    border: 1px solid #CCCCCC;
    border-radius: 20px;
    text-align: center;
}

.sofiaPro {
    font-family: SofiaProRegular;
    color: #B1B8C9;
    font-style: bold;
}

.hide {
    display: none;
}