header.header-hide-before-css, ul.breadcrumbs {
    display: block;
    -webkit-user-select: none;
    user-select: none;
}
ul.breadcrumbs .home {
    display: inline-block;
    width: 12px;
    height: 12px;
    overflow: hidden;
}
ul {
    margin-left: 1.5rem;
}

header, footer {
    -webkit-user-select: none;
    user-select: none;
}

img[src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="] {
    width: 300px;
    height: 300px;
}
img.mini {
    width: auto;
    height: auto;
}
img.mini[src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="] {
    width: 20px;
    height: 20px;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .size-tiny {font-size: 1.0rem;}
    .size-small {font-size: 1.2rem;}
    .size-medium {font-size: 1.5rem;}
    .size-large {font-size: 2.0rem;}
    .size-xlarge {font-size: 2.5rem;}
    .size-xxlarge {font-size: 3.0rem;}

    .br {display: none;}
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .size-tiny {font-size: 1.3rem;}
    .size-small {font-size: 1.5rem;}
    .size-medium {font-size: 2.0rem;}
    .size-large {font-size: 2.5rem;}
    .size-xlarge {font-size: 3.0rem;}
    .size-xxlarge {font-size: 3.5rem;}
}


i.gender {
    font-style: normal;
}
i.gender + i {
    font-style: normal;
    display: none;
}
body.woman i.gender {
    display: none;
}
body.woman i.gender + i {
    display: inline-block;
}

.emoji {
    font-size: 35px;
    vertical-align: middle;
    padding: 0;
    margin: -4px 0 -8px;
    line-height: 25px;
}

iframe {border: none;}

.title-area li.name a {
    color: #000000;
    font-family:'Cuprum', sans-serif;
    margin-right: 40px;
    font-size: 21px;
    width: 160px;
    display: inline-block;
}
.title-area li.name span {
    position:absolute;
    font-size: 11px;
    top:20px;
    left: 52px;
    color: #808080;
    font-weight: 100;
}

aside.articles-other {
    width: 100%;
    font-family: 'Cuprum', sans-serif;
    font-size: 16pt;
}
.articles-other div {
    float: left;
    max-width: 230px;
    margin: 15px;
}
aside.articles-other div img {
    max-height: 115px;
}
.articles-other div a {
    text-align: center;
    min-width: 220px;
    border-radius: 5px;
}
/*.articles-other div img {*/
    /*max-height:160px;*/
/*}*/
aside.authors {
    margin-bottom: 15px;
    -webkit-user-select: none;
    user-select: none;
}
aside.authors > span.name {
    margin-right: 1.5em;
}

aside.authors .photo {
    padding: 5px 1px 15px 1px;
}
aside.authors .photo a {
    vertical-align: middle;
}
aside.authors .photo img {
    width: 70px;
    border-radius: 50%;
}
aside.authors .name {
    margin-left: 9px;
    margin-right: 20px;
    font-family: 'Cuprum', sans-serif;
    font-size: 16pt;
    display:inline-block;
    vertical-align:middle;
}

.example {
    margin-left: 5%;
    padding-left: 2%;
    border-left: 1px solid lightcoral;
}
p.tiny-margin {
    margin-bottom: 0.4em;
}

ol.margin li, ul.margin li {
    margin-bottom: 1em;
}

ol.no-margin li, p.no-margin, ul.no-margin li {
    margin-bottom: 0;
}

ol.books {
    color: #43ac6a;
}
ol.books li.bad {
    color: #ff6600;
}
ol.books li.good {
    color: #43ac6a;
}

.inline {
    display: inline-block;
}

footer li {margin-bottom: 8px;}

a.source { color: lightgray; font-size: 10px; top: -8px; left:-5px; margin-right: -5px; position: relative;}
.sources li, .sources p { text-indent: 0 !important; color: lightgray; font-size: 10px; margin-bottom: 0;}
.sources li a { color: lightgray;}

/*index page */
img.background { position: absolute;left: 0;top: 0;width: 100%;height: auto;opacity: 0.4;}


.subscribe.window {
    color: #7b7d7f;
    border: 1px solid #dcdcdc;
    background: url(/img/main/flat/subscribe/bg.png) #ffffff;
}
.subscribe .inner {
    background: url(/img/main/flat/subscribe/letter-top.png) repeat-x 0 0;
}
.subscribe .inner .inner2 {
    padding: 25px 15px 35px 15px;
    background: url(/img/main/flat/subscribe/letter-top.png) repeat-x 0 100%;
}
.subscribe .close-reveal-modal {
    z-index: 2;
}
.subscribe .close-reveal-modal.bottom {
    font-size: inherit;
    position: inherit;
    font-weight: inherit;
    margin-top: 20px;
    float: right;
    color: #c6c8ca;
}

.popup .close-reveal-modal.button {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    position: relative;
    top: auto;
    right: auto;
    margin-bottom: 0;
}

.button4, .button5  {
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.button4:hover, .button5:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
.button4:active, .button5:active {
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
.button5, .button5:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    opacity: 1;
}
.button5:hover {
    opacity: 0.85;
}


.vip-pricing-table .pricing-table {
    margin: 10px 20px 0px 20px;
    cursor: pointer;
}


.vip-pricing-table .pricing-table .title {
    background-color: #C6C6c6;
    color: #000;
    font-size: 14pt;
    text-shadow: 0 1px 0 white;
}

.vip-pricing-table .pricing-table .price {
    padding-bottom: 5px;
}

.vip-pricing-table .pricing-table .price .text-small {
    font-size: 9pt;
    display: block;
    color: #666;
    padding-top:10px;
}

.vip-pricing-table .highlight .pricing-table {
    margin: 0;
    border: 2px solid #82d18d;
    border-radius: 5px;
}

.vip-pricing-table .highlight .pricing-table .title {
    background-color: #82d18d;
    color: #000;
    padding: 1.1rem 1.25rem;
}

.vip-pricing-table .highlight .pricing-table .price {
    background-color: #98ff98;
    padding-top: 1.2rem;
}

.text-gray {
    color: #666;
}

.vip-page .s3d, .addmoney-page .s3d {
    font-weight: 200;
    font-size: 1em;
}

.addmoney-pricing-table .pricing-table {
    cursor: pointer;
}

.addmoney-pricing-table .pricing-table .price.danger {
    background-color: #ff9d04;
}

.addmoney-pricing-table .pricing-table .price.success {
    background-color: #51dd03;
}

.vip-page .icon-credit {
    font-size: 1.3em;
}

.vip-page .best-tarif {
    position: absolute;
    margin-top: -47px;
    margin-left: -106px;
    width: 150px;
}

.vip-page .panel-vip-button {
    padding: 1.25rem;
}

.margin-top-20 {
    margin-top: 20px !important;
}

/**
    Payment page
**/
.payment_page .panel {
    cursor: pointer;
    border: 0;
}

.payment_page .text-pay-option {
    color: #666;
    font-size: 0.7em;
}
.payment_page .arrow-pay {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 0 32px 54px;
    border-color: transparent transparent transparent #f2f2f2;
}

input[type="image"]:hover, a img:hover, .pay-button:hover {
    opacity: 0.7;
}
.flags {
    margin-top: -30px;
    width: 150px;
}
.flags a {
    position: relative;
}
.flags a:hover {
    opacity: 0.8;
}
.flags img {
    max-width: 26px;
    margin: 3px 8px;
    margin-bottom: 7px;
}
.flags a.current:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 14px 0 14px;
    border-color: coral transparent transparent transparent;
    position: absolute;
    top: 24px;
    left: 7px;
}

/**
SHARE SOCIAL
*/
aside.networks {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

aside.networks .network {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
@media screen and (max-width: 350px) {
    aside.networks .network { margin: 0 4px;}
}
aside.networks .network img {
    max-height: 70px;
}
aside.networks .network:hover {
    opacity: 0.8;
}
aside.networks .network .counter {
    font-size: 15px;

    position: relative;

    margin-top: 15px;
    padding: 3px 0 2px 0;

    border: 1px solid #CCCCCC;
    border-radius: 20px;
    text-align: center;
}

aside.networks .network .counter:before {
    content: "";
    display: block;
    border-bottom: 9px solid #CCCCCC;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    width: 0;
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -9px;
}

aside.networks .network .counter:after {
    content: "";
    display: block;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    width: 0;
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -8px;
}

aside.networks .network:hover .counter {
    border-color: #FFF43E;
    background-color: #FFF43E;
}

aside.networks .network:hover .counter:before,
aside.networks .network:hover .counter:after {
    border-bottom-color: #FFF43E;
}

#facebookCounter {
    color: #3C5A99;
}
#vkCounter {
    color: #4C75A3;
}
#telegramCounter,
#twitterCounter {
    color: #5EA9DD;
}
/*#googleCount {*/
/*    color: #DD4B39;*/
/*}*/
#whatsappCounter,
#okCounter {
    color: #40C351;
}

blockquote {
    margin-top: 20px;
    font-style: italic;
    margin-bottom: 5px;
    padding-top: 2px;
}
blockquote small {
    font-style: normal;
}
blockquote:before {
    color: #ccc;
    font-family: Georgia, serif;
    content: "\201C"; /*Unicode for Left Double Quote*/
    font-size: 1.4em;
    line-height: 1.1em;
    margin-left: -14px;
    position: absolute;
    vertical-align: -0.4em;
}

body.indent p {
    text-indent: 2.5em;
}
.no-indent {
    text-indent: 0 !important;
}

p.h2 {
    color: #222222;
    font-family: "Cuprum",sans-serif;
    font-size: 2.3125rem;
}
p.h3 {
    color: #222222;
    font-family: "Cuprum",sans-serif;
    font-size: 1.8rem;
}
p.h4 {
    color: #222222;
    font-family: "Cuprum",sans-serif;
    font-size: 1.5rem;
}


.video-container {
    margin: 7px auto;
}
.video-container.medium {
    max-width: 75%;
}
.video-container.small {
     max-width: 50%;
}
.video-container div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.book-title {
    text-align: center;
    margin: 1em 0;
}
.book-title img {
    max-height: 525px;
}

.tabs-content.book .tabs li.tab-title a { padding: 0.5rem 0.8rem; font-size: 14px;}
.tabs-content.book p:last-child { margin-bottom: 0;}
.tabs-content.book { border: 1px solid lightgray; padding: 0 20px 10px 20px; margin-bottom: 3em; }


.send-email .s.s-message {vertical-align: middle;background-position: -70px -117px;}

.logo {
    background: url(/img/main/flat/svg/sprite.svg) no-repeat 0 0;
    height:35px;
    width:35px;
    display: inline-block;
    vertical-align: middle;
}


.contact-buttons img {
    max-width: 64px;
}
.contact-buttons.large img {
    max-width: 92px;
}
.contact-buttons img:hover {
    opacity: 0.8;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .contact-buttons img {
        max-width: 46px;
    }
    .contact-buttons.large img {
        max-width: 64px;
    }
}

/* Landing */
.sections section {
    min-height:100vh;
    position: relative;
    font-family: "Cuprum",sans-serif;
}
/*.dog {*/
    /*background: url(/img/main/page/landing-course/dog.jpg) no-repeat center center;*/
    /*height: 350px;*/
    /*background-size:contain;*/
/*}*/
/*.dog.filled {*/
    /*background-image: url(/img/main/page/landing-course/dog-filled.jpg);*/
/*}*/
/*.dog.rabbit {*/
    /*background-image: url(/img/main/page/landing-course/dog-rabbit.jpg);*/
/*}*/

.scale-0-5 {
    display: inline-block;

    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}



ol li {
    margin-left: 15px;
}


.health-mini {
    height: 200px;
    min-height: auto;
    background:#43ac6a;
    color: white;
    position: relative;
}
.health-mini .ipad {
    max-height: 180px;
    margin-right: 10px;
}
.health-mini .lead {
    font-size: 33px;
}
.health-mini-description {
    font-family: Roboto;
    font-size: 25px;
    color: lightgoldenrodyellow
}
.health-mini-button {
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 3px;
}
.health-mini-button .button {
    margin: 0;
}
@media only screen and (max-height: 350px) {
    .health-mini {
        height: 100px;
    }
    .health-mini .ipad {
        max-height: 90px;
    }
    .health-mini .lead {
        font-size: 23px;
    }
}
@media only screen and (max-width: 350px) {
    .health-mini .lead {
        font-size: 23px;
    }
}



.pay-packets td:not(:first-child),
.pay-packets th:not(:first-child) {
    text-align: center;
}
.vip-pricing-table .icon-credit {
    font-size: 1.3em;
}

.vip-pricing-table .best-tarif {
    position: absolute;
    margin-top: -47px;
    margin-left: -106px;
    width: 150px;
}

.vip-pricing-table .panel-vip-button {
    padding: 1.25rem;
}

.margin-top-20 {
    margin-top: 20px !important;
}



/* Init landing*/
.text-small { font-size: 12px;}
.text-normal { font-size: 16px;}
.text-medium { font-size: 20px;}
.text-large { font-size: 36px;}
.text-xlarge { font-size: 46px;}
.text-big { font-size: 50px;}
.text-xxlarge { font-size: 50px;}

.space-10 {
    height: 10px;
    margin: 0;
}
.space-20 {
    height: 20px;
    margin: 0;
}
.space-30 {
    height: 30px;
    margin: 0;
}
.space-40 {
    height: 40px;
    margin: 0;
}
.space-50 {
    height: 50px;
    margin: 0;
}
.space-60 {
    height: 50px;
    margin: 0;
}
.space-70 {
    height: 70px;
    margin: 0;
}

/* Small only */
@media screen and (max-width: 320px) {
}

/* Small only */
@media screen and (min-width: 321px) {

}

/* Medium down */
@media only screen and (max-width: 600px) {
    .text-xlarge { font-size: 36px;}
    .small-height-100 {
        height: 100px;
    }
}

/* Small only */
@media screen and (max-width: 320px) {
    .text-large { font-size: 32px;}
    .space-40 {
        height: 15px;
    }
    .space-50 {
        height: 20px;
    }
    .space-70 {
        height: 25px;
    }
}

/* Medium and up */
@media only screen and (min-width: 600px) {
    .text-normal { font-size: 20px;}
    .text-medium { font-size: 26px;}
    .text-large { font-size: 36px;}
    .text-big { font-size: 72px;}
    .text-xxlarge { font-size: 72px;}
}

@media only screen and (min-width: 1024px) {
    /* Large. For desktop: */
    .text-xxlarge { font-size: 96px;}
}

.cover {
    background: radial-gradient(circle at 0 0, #3AC3BE 0%, #004847 100%); /* w3c */
}
.cover:after {
    content: " ";
    background: url(/img/main/lifemap/landing/startup.svg) no-repeat;
    opacity: 0.07;
    bottom: 15px;
    right: 15px;
    height: 130px;
    width: 130px;
    display: inline-block;
    position: absolute;
    z-index: 3;
}
.vertical-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
    align-content: center;
    justify-content: center;
}
.vertical-child {
    width: 100%;
    margin: auto;
}

.block .header {
    color: black;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    padding: 24px 4px 38px 4px;
    letter-spacing: 0.5px;
    line-height: 1.17;
    text-align: center;
}

.block.cover .header {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    /*background: radial-gradient(circle at 0 0, #FFCFC5 0%, #F2F3BC 100%); !* w3c *!*/
    background: radial-gradient(circle at 0 0, #D1FDFF 0%, #FDDB92 100%); /* w3c */
    background-position: 0 0;
    transition: all 0.8s ease-in-out;
    position: relative;
    text-transform: capitalize;
    font-variant: small-caps;
    text-align: center;
}

.block .describe {
    color: #fff;
    padding: 4px 4px 30px 4px;
    margin: 0 auto;
    line-height: 1.50;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 0 #0d0d0d;
    opacity: 0.75;
    text-align: center;
}

/* Small only */
@media screen and (max-width: 320px) {
    .cover:after {
        height: 130px;
        width: 130px;
    }
}

/* Small only */
@media screen and (min-width: 321px) {
    .cover:after {
        height: 130px;
        width: 130px;
    }
}

/* Medium and up */
@media only screen and (min-width: 600px) {
    /* Medium. For tablets: */
    .cover:after {
        height: 250px;
        width: 250px;
    }
}
@media only screen and (min-width: 1024px) {
    /* Large. For desktop: */
    .cover::after {
        height: 50%;
        width: 300px;
    }
}

.cover__arrow-wrapper_animated { animation: arrow-bottom 1.7s infinite ease;}
.cover__arrow { position:absolute;z-index:9;bottom:40px;right:0;left:0;text-align:center;}

.cover__arrow-wrapper { display:inline-block;-webkit-transition:all ease-in-out 0.2s;-moz-transition:all ease-in-out 0.2s;-o-transition:all ease-in-out 0.2s;transition:all ease-in-out 0.2s;cursor:pointer;}
.cover__arrow-wrapper:hover { opacity:.7;}
.cover__arrow-svg { fill:#fff;}
.cover__arrow-svg.mint { fill:#66cdaa;}

@-webkit-keyframes arrow-bottom {
    0% { -moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);}
    50% { -moz-transform:translateY(-7px);-ms-transform:translateY(-7px);-webkit-transform:translateY(-7px);-o-transform:translateY(-7px);transform:translateY(-7px);}
    55% { -moz-transform:translateY(-7px);-ms-transform:translateY(-7px);-webkit-transform:translateY(-7px);-o-transform:translateY(-7px);transform:translateY(-7px);}
    100% { -moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);}}

@keyframes arrow-bottom {
    0% { -moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);}
    50% { -moz-transform:translateY(-7px);-ms-transform:translateY(-7px);-webkit-transform:translateY(-7px);-o-transform:translateY(-7px);transform:translateY(-7px);}
    55% { -moz-transform:translateY(-7px);-ms-transform:translateY(-7px);-webkit-transform:translateY(-7px);-o-transform:translateY(-7px);transform:translateY(-7px);}
    100% { -moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);}}

@media screen and (max-width:640px) {
    .cover__arrow_mobile {
        -moz-transform:scale(.7);-ms-transform:scale(.7);-webkit-transform:scale(.7);-o-transform:scale(.7);transform:scale(.7);
    }
    .cover__arrow { bottom:14px;}
}


.block.advantages .header.short {
    color: white;
    text-shadow: 2px 2px 0 #092f4f;
    margin: 0;
    padding: 5px;
}

.block.advantages {
    font-size: 26px;
    color: #e7e8f0;
    background: #092f4f url(/img/main/lifemap/landing/bg/space1.png) no-repeat;
    background-size: cover;
}
.block.advantages img {
    max-width: 50px;
    margin: 25px 5px 3px;
}

/* Medium and up */
@media only screen and (min-width: 600px) {
    .block.advantages .header.short {
        letter-spacing: 5px;
    }
    .block.advantages img {
        max-width: 90px;
        margin: 35px 5px 15px;
    }
}

.stars-review {
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
.stars-review span {
    padding: 5px;
    margin-right: -6px;
    color: #ffe004;
    font-size: 20px;
}


/* Banner */

aside.goal {
    width: 100%;
    min-height: 550px;
    padding: 10px;
    margin: 0;
    color: white;
    background: linear-gradient(190deg,#664194,#d95e80);
    font-family: 'Roboto',sans-serif;
    /*overflow: hidden;*/
    text-align: center;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: hidden;
}
body.ready aside.goal {
    background: url(/img/main/lifemap/landing/ads/niksy-bg.jpg) no-repeat, linear-gradient(190deg,#664194,#d95e80);
    background-size: cover;
    visibility: visible;
}
aside.goal.middle {
    background: url(/img/main/lifemap/landing/bg/space2.png) no-repeat, linear-gradient(190deg,#664194,#d95e80);
    background-size: cover;
}
.goal-wrap {
    max-width: 833px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

aside.goal.second {
    background: linear-gradient(190deg,#ff393d,#fe8b8d);
}
aside.goal .img-medium {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    float:left;
    position: relative;
    text-align: center;
    height: 100%;
    width: 300px;
    padding: 30px 5px;
}
aside.goal .img-small {
    position: relative;
    text-align: center;
    width: 100%;
    height: 150px;
}
aside.goal .img-medium img,
aside.goal .img-small img {
    height: 100%;
    width: auto;
}
aside.goal img:hover {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 10px #ffe004);
    filter:         drop-shadow(0 0 10px #ffe004);
}
aside.goal .text-lead {
    font-size: 45px;
    font-variant: small-caps;
    text-shadow: 1px 1px 0 black;
}
aside.goal img.second,
aside.goal .button-goal.second,
aside.goal .text-lead.second,
aside.goal .text-desc.second,
aside.goal.second img,
aside.goal.second .button-goal,
aside.goal.second .text-lead,
aside.goal.second .text-desc {
    display: none;
}
aside.goal.second .text-lead.second,
aside.goal.second .text-desc.second {
    display: block;
}
aside.goal.second .button-goal.second,
aside.goal.second img.second {
    display: inline-block;
}
aside.goal .text-desc {
    font-size: 25px;
    color: whitesmoke;
}

.button-goal {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    font-variant: small-caps;
    width: 240px;
    margin: 20px auto;
    padding: 15px 20px;
    background-color: #ffe004;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    transition: all 300ms ease-out;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24);

    animation-name: shadowpulse;
    -webkit-animation-name: shadowpulse;
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-direction: alternate-reverse;
}
.button-goal:hover,
.button-goal:focus {
    color: #000;
    box-shadow: none;
    background-color: whitesmoke;
    text-decoration: none;
}
@keyframes shadowpulse {
    from { box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24);}
    to { box-shadow: 0 2px 30px 0 rgba(255,208,49,0.8);}
}
@-webkit-keyframes shadowpulse {
    from { box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24);}
    to { box-shadow: 0 2px 30px 0 rgba(255,208,49,0.8);}
}

/* Small */
@media screen and (max-width: 450px) {
    aside.goal { background: linear-gradient(190deg,#664194,#d95e80); min-height: 460px;}
    aside.goal .text-lead { font-size: 30px; line-height: 50px; margin: 10px 1px;}
    aside.goal .text-desc { font-size: 22px; line-height: 25px; margin: 10px 1px;}

    aside.goal .img-small { display:block;}
    aside.goal .img-small img { max-height:100%; width: auto;}
    aside.goal .img-medium { display: none;}

    aside.goal .vertical-wrapper { max-height: 300px;}
}

/* Medium down */
@media screen and (min-width: 451px) and (max-width: 780px) {
    aside.goal { background: linear-gradient(190deg,#664194,#d95e80); min-height: 460px;}
    aside.goal .text-lead { font-size: 35px; line-height: 30px; margin: 10px 1px;}
    aside.goal .text-desc { font-size: 22px; line-height: 25px; margin: 10px 1px;}

    aside.goal .img-small { display:block;}
    aside.goal .img-small img { max-height:100%; width: auto;}
    aside.goal .img-medium { display: none;}

    aside.goal .vertical-wrapper { min-height: 250px;}
}

@media only screen and (orientation: landscape) and (max-width: 780px) {
    aside.goal { min-height: 330px; padding: 3px 1px;}
    aside.goal .img-small { height: 100px;}
    aside.goal p { margin: 3px 0;}
    aside.goal .vertical-wrapper { min-height: 230px;}
}

/* Medium and up */
@media screen and (min-width: 780px) {
    aside.goal .text-lead { font-size: 45px; margin: 30px 1px;}
    aside.goal .text-desc { margin: 30px 1px;}

    aside.goal .img-small { display: none;}
    aside.goal .img-medium { display: block;}
}




.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #fff url(/img/pic/video/thumbnail.jpg) no-repeat;
    background-size: cover;
    margin: 0;
}
.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}
.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}
.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}
.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url(/img/pic/video/play.png) no-repeat;
    cursor: pointer;
}

.animation-heartbeat {
    display: inline-block;
    color: #97CC64;
    -webkit-animation: heartbeat .8s infinite cubic-bezier(.215,.61,.355,1);
    animation: heartbeat .8s infinite cubic-bezier(.215,.61,.355,1);
}
@keyframes heartbeat {
    0%, 60% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
    5% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25)
    }
    39% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    45% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@-webkit-keyframes heartbeat {
    0%, 60% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
    5% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25)
    }
    39% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    45% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}


#cookie-banner {
    background-color: black;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99999998;
    color: #e0e0e0;
    font-size: 14px !important;
    padding: 4px 10px;
    font-family: Helvetica,Arial,FreeSans,sans-serif !important;
    line-height: 139%;
}
#cookie-banner a {
    text-decoration:underline;
    color:#fff;
    font-size:14px;
    font-weight:900;
}