canvas {
    -webkit-tap-highlight-color: transparent;
}

.wheel-life-container {
    position: relative;
}
#wheel-life {
    margin: auto;
    display: block;
    height: 473px;
    width: 825px;
    border-radius: 5px;
    background: #F2F2E5;
    border: 1px solid #D4DADE;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lifemap-init#wheel-life {
    background-color: #ffffff;
    border-radius: 7px;
    border: 1px solid #c1d8de;
}
#wheel-life-result {
    position: relative;
    margin: 30px auto;
    text-align: center;
}
#button-clear-areas {
    position: absolute;
    top: 15px;
    left: 22%;
    display: none;
}
#button-download-wheel {
    position: absolute;
    top: 15px;
    right: 22%;
    display: none;
}
.user-wheel-life {
    text-align: center;
}
.user-wheel-life img.wheel-life {
    border-radius: 20px;
    max-height: 473px;
    max-width: 900px;
}

.page-icon {
    color: #B1B8C9;
    font-size: 30px;
    cursor: pointer;
}